@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Treinamentos EAD</title>
</head>
<body>
    <div>
    TREINAMENTOS EAD
    </div>
</body>
</html>
