@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black rounded-0">
    <div class="card-header py-1 px-1" style="font-size: 9pt">Envio de equipamento por linha de prod.</div>
    <div class="card-body py-1 px-1">
        <canvas id="chartEnvioEquipamentoLinhaProd" height="150"></canvas>
    </div>
</div>

