@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black rounded-0 mb-0">
    <div class="card-body py-1 px-1">
        <div class="form-row">
            <div class="form-group col-12 mb-0">
                @*<div class="pre-scrollable" style="max-height: 173px">*@
                <div id="gridMVCModelo">
                </div>
                @*</div>*@
            </div>
        </div>
    </div>
</div>

