@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black bg-primary rounded-0">
    <div class="card-header py-1 px-1" style="font-size: 8pt">Clientes</div>
    <div class="card-body pt-3 pb-1 px-1" style="min-height: 85px;">
        <h2 class="card-title text-center">
            <label id="ClienteAtivo" ></label>
        </h2>
    </div>
</div>


