<div class="card text-black rounded-0">
    <div class="card-header py-1 px-1 font-weight-bold" style="font-size: 9pt">Envio de equipamentos (WORKFLOW)</div>
    <div class="card-body py-1 px-1" style="font-size: 8pt">
        <div class="row m-0">
            <label class="col-sm-4 m-0 mb-2" id="EnvioEquipamentoITEM_1" ></label>
            <label class="col-sm-2 m-0 mb-2 font-weight-bold" id="EnvioEquipamentoTOTAL_1"></label>

            <label class="col-sm-4 m-0 mb-2" id="EnvioEquipamentoITEM_5" ></label>
            <label class="col-sm-2 m-0 mb-2 font-weight-bold" id="EnvioEquipamentoTOTAL_5"></label>
        </div>

        <div class="row m-0">
            <label class="col-sm-4 m-0 mb-2" id="EnvioEquipamentoITEM_2" ></label>
            <label class="col-sm-2 m-0 mb-2 font-weight-bold" id="EnvioEquipamentoTOTAL_2"></label>

            <label class="col-sm-4 m-0 mb-2" id="EnvioEquipamentoITEM_6" ></label>
            <label class="col-sm-2 m-0 mb-2 font-weight-bold" id="EnvioEquipamentoTOTAL_6"></label>
        </div>

        <div class="row m-0">
            <label class="col-sm-4 m-0 mb-2" id="EnvioEquipamentoITEM_3" ></label>
            <label class="col-sm-2 m-0 mb-2 font-weight-bold" id="EnvioEquipamentoTOTAL_3"></label>

            <label class="col-sm-4 m-0 mb-2" id="EnvioEquipamentoITEM_7" ></label>
            <label class="col-sm-2 m-0 mb-2 font-weight-bold" id="EnvioEquipamentoTOTAL_7"></label>
        </div>

        <div class="row m-0">
            <label class="col-sm-4 m-0 mb-2" id="EnvioEquipamentoITEM_4" ></label>
            <label class="col-sm-2 m-0 mb-2 font-weight-bold" id="EnvioEquipamentoTOTAL_4"></label>

            <label class="col-sm-4 m-0 mb-2" id="EnvioEquipamentoITEM_8" ></label>
            <label class="col-sm-2 m-0 mb-2 font-weight-bold" id="EnvioEquipamentoTOTAL_8"></label>
        </div>
    </div>
</div>
