@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black rounded-0 mb-0">
    <div class="card-header py-1 px-1" style="font-size: 9pt">Clientes</div>
    <div class="card-body py-1 px-1" style="min-height: 400px">
        <div class="form-row">
            <div class="form-group col-12 mb-0">
                @*<div class="pre-scrollable" style="max-height: 444px">*@
                <div id="gridMVCCliente">
                </div>
                @*</div>*@
            </div>
        </div>
    </div>
</div>
