@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black rounded-0">
    <div class="card-header py-1 px-1" style="font-size: 9pt">
        <div class="row">
            <div class="col-md-8">Vendas @DateTime.Now.AddYears(-1).Year X @DateTime.Now.Year</div>
            <div class="col-md-4">(Base 1000)</div>
        </div>
    </div>
    <div class="card-body py-1 px-1">
        <canvas id="chartVenda" height="150"></canvas>
    </div>
</div>

