@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ERRO</title>
    </head>
    <body>*@
<hgroup>
    <i class="fas fa-exclamation-triangle fa-7x fa-pull-left"></i>
    <h3>ERRO de Requisição</h3>
    <h4>Desculpe, mas ocorreu um erro ao processar sua requisição!</h4>
    <p>
        Por favor, aguarde alguns instantes e tente executar essa ação novamente.
        <br />
        Caso persista o erro, contate a área administrativa deste sistema e informe o ocorrido...
    </p>
</hgroup>

@*</body>
    </html>*@
