GO
/****** Object:  StoredProcedure [dbo].[prcRelatorioPedidosSelect]    Script Date: 14/01/2022 14:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andre Farinelli
-- Create date: 08/07/2018
-- Description:	Seleção de dados de pedidos. 
-- =============================================

ALTER PROCEDURE [dbo].[prcRelatorioPedidosSelect] 
		@p_DT_INICIAL	DATETIME,
		@p_DT_FINAL		DATETIME,
		@p_CD_CLIENTE	NUMERIC(6,0) = NULL,
		--@p_CD_VENDEDOR	NUMERIC(6,0) = NULL,
		@p_CD_TECNICO	VARCHAR(06)	= NULL, 
		@p_CD_GRUPO		VARCHAR(10)	= NULL
AS
BEGIN

	-- Declaração de Variáveis
	DECLARE @cdsErrorMessage	NVARCHAR(4000),
			@nidErrorSeverity	INT,
			@nidErrorState		INT

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		
		--SELECT
		--	TB_PEDIDO.ID_PEDIDO,
		--	TB_PEDIDO.CD_PEDIDO AS NR_DOCUMENTO,
		--	TB_TECNICO.CD_TECNICO + ' - ' + TB_TECNICO.NM_TECNICO as NM_TECNICO,
		--	TB_PEDIDO.DT_CRIACAO,
		--	--TB_PEDIDO.TX_OBS,
		--	TB_PEDIDO_PECA.TX_APROVADO,
		--	--tbPlanoZero.QT_ESTOQUE_MINIMO,
		--	TB_PECA.CD_PECA,
		--	TB_PECA.DS_PECA,
		--	tbStatusPedido.DS_STATUS_PEDIDO,
		--	TB_PEDIDO_PECA.QTD_SOLICITADA,
		--	TB_PEDIDO_PECA.QTD_APROVADA,
		--	(TB_PEDIDO_PECA.QTD_APROVADA * TB_PECA.VL_PECA) AS TOTAL_ITEM,
		--	TB_CLIENTE.NM_CLIENTE,
		--	TB_VENDEDOR.NM_VENDEDOR,
		--	TB_GRUPO.DS_GRUPO
		--FROM TB_PEDIDO
		--INNER JOIN tbStatusPedido
		--ON TB_PEDIDO.ID_STATUS_PEDIDO = tbStatusPedido.ID_STATUS_PEDIDO
		--LEFT JOIN TB_CLIENTE
		--ON TB_PEDIDO.CD_CLIENTE = TB_CLIENTE.CD_CLIENTE
		--INNER JOIN TB_GRUPO
		--ON TB_CLIENTE.CD_GRUPO = TB_GRUPO.CD_GRUPO
		--INNER JOIN TB_VENDEDOR
		--ON TB_CLIENTE.CD_VENDEDOR = TB_VENDEDOR.CD_VENDEDOR
		--INNER JOIN TB_TECNICO
		--ON TB_PEDIDO.CD_TECNICO = TB_TECNICO.CD_TECNICO
		--INNER JOIN TB_PEDIDO_PECA
		--ON TB_PEDIDO.ID_PEDIDO = TB_PEDIDO_PECA.ID_PEDIDO
		--INNER JOIN TB_PECA
		--ON TB_PEDIDO_PECA.CD_PECA = TB_PECA.CD_PECA
		----LEFT JOIN tbPlanoZero
		----ON TB_PECA.CD_PECA = tbPlanoZero.CD_PECA
		--WHERE (TB_PEDIDO.DT_CRIACAO BETWEEN @p_DT_INICIAL AND @p_DT_FINAL)
		--	AND (TB_CLIENTE.CD_CLIENTE		= @p_CD_CLIENTE		OR @p_CD_CLIENTE IS NULL)
		--	--AND (TB_VENDEDOR.CD_VENDEDOR	= @p_CD_VENDEDOR	OR @p_CD_VENDEDOR IS NULL)
		--	AND (TB_TECNICO.CD_TECNICO		= @p_CD_TECNICO		OR @p_CD_TECNICO IS NULL)
		--	AND (TB_GRUPO.CD_GRUPO			= @p_CD_GRUPO		OR @p_CD_GRUPO IS NULL)
		--GROUP BY
		--	TB_PEDIDO.ID_PEDIDO,
		--	TB_PEDIDO.CD_PEDIDO,
		--	TB_TECNICO.CD_TECNICO,
		--	NR_DOCUMENTO,
		--	NM_TECNICO,
		--	TB_PEDIDO.DT_CRIACAO,
		--	--TB_PEDIDO.TX_OBS,
		--	TB_PEDIDO_PECA.TX_APROVADO,
		--	--tbPlanoZero.QT_ESTOQUE_MINIMO,
		--	TB_PECA.CD_PECA,
		--	TB_PECA.DS_PECA,
		--	tbStatusPedido.DS_STATUS_PEDIDO,
		--	TB_PEDIDO_PECA.QTD_SOLICITADA,
		--	TB_PEDIDO_PECA.QTD_APROVADA,
		--	TB_PECA.VL_PECA,
		--	TB_CLIENTE.NM_CLIENTE,
		--	TB_VENDEDOR.NM_VENDEDOR,
		--	TB_GRUPO.DS_GRUPO
		--ORDER BY 
		--	TB_PEDIDO.NR_DOCUMENTO, 
		--	TB_TECNICO.NM_TECNICO, 
		--	TB_PECA.DS_PECA


		SELECT
			TB_PEDIDO.ID_PEDIDO,
			TB_PEDIDO.CD_PEDIDO AS NR_DOCUMENTO,
			TB_TECNICO.CD_TECNICO + ' - ' + TB_TECNICO.NM_TECNICO as NM_TECNICO,
			TB_PEDIDO.DT_CRIACAO,
			TB_PEDIDO_PECA.TX_APROVADO,
			case when TB_PEDIDO.FL_EMERGENCIA = 'N'
				then 'NÃO'
				 when TB_PEDIDO.FL_EMERGENCIA = 'S'
				then 'SIM'
				 when TB_PEDIDO.FL_EMERGENCIA is null
				then 'NÃO'
			end as EMERGENCIA,
			TB_PECA.CD_PECA,
			TB_PECA.DS_PECA,
			tbStatusPedido.DS_STATUS_PEDIDO,
			TB_PEDIDO_PECA.QTD_SOLICITADA,
			case 
				when TB_PEDIDO_PECA.QTD_APROVADA_3M1 is null
					then TB_PEDIDO_PECA.QTD_APROVADA
				when TB_PEDIDO_PECA.QTD_APROVADA_3M1 is not null
					then TB_PEDIDO_PECA.QTD_APROVADA_3M1
			end as QTD_APROVADA_3M1,
			--TB_PEDIDO_PECA.QTD_APROVADA_3M1,
			TB_PEDIDO_PECA.QTD_APROVADA_3M2,
			TB_PEDIDO_PECA.QTD_APROVADA,
			
			--(TB_PEDIDO_PECA.QTD_APROVADA * TB_PECA.VL_PECA) AS TOTAL_ITEM,
			(TB_PEDIDO_PECA.QTD_APROVADA * TB_PEDIDO_PECA.VL_PECA) AS TOTAL_ITEM,
			
			TB_CLIENTE.NM_CLIENTE,
			TB_CLIENTE.CD_CLIENTE,
			case 
				when ISNULL(TB_CLIENTE.CD_CLIENTE,0) = 0
				then '-'
				else Concat(TB_CLIENTE.NM_CLIENTE, '(', TB_CLIENTE.CD_CLIENTE, ')') 
			end as Cliente_Completo,
			TB_GRUPO.DS_GRUPO,

			TB_PEDIDO_PECA.ST_STATUS_ITEM
		FROM
			TB_PEDIDO
			INNER JOIN TB_PEDIDO_PECA
			ON TB_PEDIDO.ID_PEDIDO = TB_PEDIDO_PECA.ID_PEDIDO
			INNER JOIN TB_TECNICO
			ON TB_TECNICO.CD_TECNICO = TB_PEDIDO.CD_TECNICO
			LEFT JOIN TB_CLIENTE
			ON TB_PEDIDO.CD_CLIENTE = TB_CLIENTE.CD_CLIENTE
			LEFT JOIN TB_GRUPO
			ON TB_CLIENTE.CD_GRUPO = TB_GRUPO.CD_GRUPO
			INNER JOIN TB_PECA
			ON TB_PEDIDO_PECA.CD_PECA = TB_PECA.CD_PECA
			INNER JOIN tbStatusPedido
			ON TB_PEDIDO.ID_STATUS_PEDIDO = tbStatusPedido.ID_STATUS_PEDIDO
		WHERE
			(TB_PEDIDO.DT_CRIACAO >= @p_DT_INICIAL OR @p_DT_INICIAL IS NULL)
			AND (TB_PEDIDO.DT_CRIACAO <= @p_DT_FINAL OR @p_DT_FINAL IS NULL)
			AND (TB_CLIENTE.CD_CLIENTE		= @p_CD_CLIENTE		OR @p_CD_CLIENTE IS NULL)
			AND (TB_TECNICO.CD_TECNICO		= @p_CD_TECNICO		OR @p_CD_TECNICO IS NULL)
			AND (TB_GRUPO.CD_GRUPO			= @p_CD_GRUPO		OR @p_CD_GRUPO IS NULL)
		ORDER BY 
			TB_PEDIDO.NR_DOCUMENTO, 
			TB_TECNICO.NM_TECNICO, 
			TB_PECA.DS_PECA
		
	END TRY

	BEGIN CATCH

		SELECT	@cdsErrorMessage	= ERROR_MESSAGE(),
				@nidErrorSeverity	= ERROR_SEVERITY(),
				@nidErrorState		= ERROR_STATE();

		-- Use RAISERROR inside the CATCH block to return error
		-- information about the original error that caused
		-- execution to jump to the CATCH block.
		RAISERROR (@cdsErrorMessage, -- Message text.
				   @nidErrorSeverity, -- Severity.
				   @nidErrorState -- State.
				   )

	END CATCH

END

