@model IEnumerable<_3M.Comodato.Front.Models.WfPedidoEquipamentoItem>
@using _3M.Comodato.Utility;
@using GridMvc.Html

<div class="table table-hover">
    @Html.Grid(Model).Columns(columns =>
{

    columns.Add(foo => foo.CodigoPedido).Titled("CÓD.");//.Titled("CÓD. PEDIDO");
    columns.Add(foo => foo.TituloPedido).Titled("TÍTULO");
    columns.Add(foo => foo.DataCadastro).Titled("DATA CAD.").Format("{0:dd/MM/yyyy}");//.Titled("DATA CADASTRO")

    columns.Add(foo => foo.Status).Titled("STATUS");
    columns.Add(foo => foo.TipoPedido).Titled("TIPO");//.Titled("TIPO PEDIDO");

    columns.Add(foo => foo.Cliente).Titled("CLIENTE");
    columns.Add(foo => foo.Modelo).Titled("MODELO");

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => Html.ActionLink(" ", !string.IsNullOrEmpty(o.IconeClass) ? o.ActionTipoPedido:"", new { idKey = HttpUtility.HtmlDecode(o.idKey) },
        !string.IsNullOrEmpty(o.IconeClass)?(object)new { @class = o.IconeClass } : (object)null));

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => 
            o.Acesso.HasFlag(_3M.Comodato.Front.Models.Acesso.Edicao) && (o.CodigoStatusPedido == (int)ControlesUtility.Enumeradores.WorkflowPedidoEnvio.Rascunho || o.CodigoStatusPedido == (int)ControlesUtility.Enumeradores.WorkflowPedidoDevolucao.Rascunho)
                    ? $"<b><a href=\"#\" onclick=\"ConfirmarSimNao('Aviso', 'Confirma a exclusão do item?', 'RemoverPedido({o.ID_WF_PEDIDO_EQUIP.ToString()});'); return false;\" class='fas fa-trash-alt fa-lg' data-toggle='tooltip' data-placement='top' title='Excluir'></a></b>":"");

}).Sortable(true).Filterable(true).SetLanguage("pt-BR")
</div>

