GO
/****** Object:  StoredProcedure [dbo].[prcRelatorioInventario]    Script Date: 28/09/2021 10:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Paulo Rabelo
-- Create date: 16/03/2020
-- Description:	Seleção de dados de equipamentos
--				em cliente para Relatório Inventário. 
-- =============================================

ALTER PROCEDURE [dbo].[prcRelatorioInventario]
		@p_DT_INICIAL	DATETIME		= NULL,
		@p_DT_FINAL		DATETIME		= NULL,	
		@p_CD_CLIENTE	VARCHAR(MAX)	= NULL,
		@p_CD_VENDEDOR	NUMERIC(6,0)	= NULL,
		@p_CD_GRUPO		VARCHAR(10)		= NULL,
		@p_CD_TECNICO	VARCHAR(6)		= NULL,
		@p_CD_LINHA_PRODUTO	INT		= NULL,
		@p_SITUACAO_MANUT	INT		= NULL --(1 = Manut Vencida // 2 = Manut Em Dia // Null = Todas)

AS
BEGIN

	-- Declaração de Variáveis
	DECLARE @cdsErrorMessage	NVARCHAR(4000),
			@nidErrorSeverity	INT,
			@nidErrorState		INT


	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET FMTONLY OFF;

	BEGIN TRY

	-- Declaração de Variáveis
	DECLARE @QtdDiasParaManutVencida	INT	= 365

	SELECT @QtdDiasParaManutVencida = CONVERT(INT, cvlParametro) FROM dbo.tbParametro WHERE ccdParametro = 'QtdDiasParaManutVencida'

	IF (@QtdDiasParaManutVencida IS NULL)
		SELECT @QtdDiasParaManutVencida = 365

	If Exists(Select * from tempdb..SysObjects Where Name like '%T_OS_ULT_MANUT' ) drop table #T_OS_ULT_MANUT;
	If Exists(Select * from tempdb..SysObjects Where Name like '%T_REL_INVENTARIO_TODOS' ) drop table #T_REL_INVENTARIO_TODOS;


		Select 
			TB_ATIVO_CLIENTE.CD_ATIVO_FIXO, MAX(os.DT_DATA_OS) as DT_ULT_MANUTENCAO
		INTO #T_OS_ULT_MANUT
		FROM TB_ATIVO_CLIENTE 
			LEFT JOIN tbOSPadrao os 
			on TB_ATIVO_CLIENTE.CD_ATIVO_FIXO = os.CD_ATIVO_FIXO
			INNER JOIN TB_ATIVO_FIXO       
			ON TB_ATIVO_FIXO.CD_ATIVO_FIXO = TB_ATIVO_CLIENTE.CD_ATIVO_FIXO 
			INNER JOIN TB_CLIENTE 
			ON TB_CLIENTE.CD_CLIENTE = TB_ATIVO_CLIENTE.CD_CLIENTE
			LEFT JOIN tbUsuario ON
			TB_CLIENTE.ID_USUARIO_TECNICOREGIONAL = tbUsuario.nidUsuario
			LEFT JOIN TB_VENDEDOR --INNER no VB
			ON TB_CLIENTE.CD_VENDEDOR = TB_VENDEDOR.CD_VENDEDOR
			LEFT JOIN TB_GRUPO --INNER no VB
			ON TB_CLIENTE.CD_GRUPO = TB_GRUPO.CD_GRUPO
			LEFT JOIN TB_LINHA_PRODUTO --INNER no VB
			ON TB_ATIVO_FIXO.CD_LINHA_PRODUTO = TB_LINHA_PRODUTO.CD_LINHA_PRODUTO
			LEFT JOIN TB_MODELO --INNER no VB
			ON TB_MODELO.CD_MODELO = TB_ATIVO_FIXO.CD_MODELO 
			LEFT JOIN TB_MOTIVO_DEVOLUCAO 
			ON TB_ATIVO_CLIENTE.CD_MOTIVO_DEVOLUCAO = TB_MOTIVO_DEVOLUCAO.CD_MOTIVO_DEVOLUCAO
			LEFT JOIN TB_SITUACAO_ATIVO   
			ON TB_ATIVO_FIXO.CD_SITUACAO_ATIVO = TB_SITUACAO_ATIVO.CD_SITUACAO_ATIVO
			LEFT JOIN TB_STATUS_ATIVO     
			ON TB_ATIVO_FIXO.CD_STATUS_ATIVO = TB_STATUS_ATIVO.CD_STATUS_ATIVO
			LEFT JOIN (SELECT CD_CLIENTE,CD_TECNICO FROM TB_TECNICO_CLIENTE WHERE CD_ORDEM = 1) TB_TECNICO_CLIENTE    
			ON TB_CLIENTE.CD_CLIENTE = TB_TECNICO_CLIENTE.CD_CLIENTE
			LEFT JOIN TB_RAZAO_COMODATO 
			ON dbo.TB_ATIVO_CLIENTE.CD_RAZAO = TB_RAZAO_COMODATO.CD_RAZAO

		WHERE 
		os.ST_STATUS_OS = 3
		AND	(DT_DEVOLUCAO								IS NULL				OR DT_DEVOLUCAO		< '1950-01-01 00:00:00.000')
		--AND (DT_INCLUSÃO BETWEEN @p_DT_INICIAL AND @p_DT_FINAL)
		AND (DT_NOTAFISCAL								>= @p_DT_INICIAL	OR @p_DT_INICIAL	IS NULL)
		AND (DT_NOTAFISCAL								<= @p_DT_FINAL		OR @p_DT_FINAL		IS NULL)
		AND	(TB_CLIENTE.CD_CLIENTE IN (SELECT cdsString FROM dbo.fncGetValuesByString(@p_CD_CLIENTE, ',')) OR @p_CD_CLIENTE IS NULL)
		AND (TB_VENDEDOR.CD_VENDEDOR					= @p_CD_VENDEDOR	OR @p_CD_VENDEDOR	IS NULL)
		AND (TB_VENDEDOR.FL_ATIVO = 'S')
		AND (TB_GRUPO.CD_GRUPO							= @p_CD_GRUPO		OR @p_CD_GRUPO		IS NULL)
		AND (TB_TECNICO_CLIENTE.CD_TECNICO							= @p_CD_TECNICO		OR @p_CD_TECNICO		IS NULL)
		AND (TB_LINHA_PRODUTO.CD_LINHA_PRODUTO							= @p_CD_LINHA_PRODUTO		OR @p_CD_LINHA_PRODUTO		IS NULL)
		AND (TB_ATIVO_FIXO.FL_STATUS = 1)
		AND (TB_ATIVO_CLIENTE.CD_MOTIVO_DEVOLUCAO IS NULL)
	Group by 
		TB_ATIVO_CLIENTE.CD_ATIVO_FIXO







	SELECT
			TB_ATIVO_CLIENTE.CD_ATIVO_FIXO,
			TB_ATIVO_CLIENTE.CD_ATIVO_FIXO + ' - ' + COALESCE(DS_MODELO,'') + ' - ' + COALESCE(TX_ANO_MÁQUINA,'') AS DS_ATIVO_FIXO,
			TB_CLIENTE.CD_CLIENTE,
			TB_CLIENTE.NM_CLIENTE + ' - (' + CONVERT(VARCHAR(6),COALESCE(TB_CLIENTE.CD_CLIENTE,'')) + ') - ' + COALESCE(TB_CLIENTE.EN_CIDADE,'') + ' - ' + COALESCE(TB_CLIENTE.EN_ESTADO,'') AS NM_CLIENTE,
			TB_MODELO.DS_MODELO,
			TB_LINHA_PRODUTO.DS_LINHA_PRODUTO,
			TB_ATIVO_CLIENTE.DT_NOTAFISCAL,
			TB_ATIVO_CLIENTE.NR_NOTAFISCAL,
			TB_ATIVO_FIXO.DT_INCLUSÃO,
			TB_ATIVO_FIXO.DT_INVENTARIO,
			TB_SITUACAO_ATIVO.DS_SITUACAO_ATIVO,
			TB_STATUS_ATIVO.DS_STATUS_ATIVO,
			TB_VENDEDOR.NM_VENDEDOR,
			TB_GRUPO.DS_GRUPO,
			TB_RAZAO_COMODATO.DS_RAZAO,
			#T_OS_ULT_MANUT.DT_ULT_MANUTENCAO,
			CASE
				WHEN (DATEADD(HH,-3,GETUTCDATE()) < #T_OS_ULT_MANUT.DT_ULT_MANUTENCAO + @QtdDiasParaManutVencida) THEN 'X'
				ELSE ''
			END AS MANUT_EM_DIA,
			tbUsuario.cnmNome as TecnicoResponsavel
		
		INTO #T_REL_INVENTARIO_TODOS

		FROM TB_ATIVO_CLIENTE 
			LEFT JOIN #T_OS_ULT_MANUT 
			ON TB_ATIVO_CLIENTE.CD_ATIVO_FIXO = #T_OS_ULT_MANUT.CD_ATIVO_FIXO
			INNER JOIN TB_ATIVO_FIXO       
			ON TB_ATIVO_FIXO.CD_ATIVO_FIXO = TB_ATIVO_CLIENTE.CD_ATIVO_FIXO 
			INNER JOIN TB_CLIENTE 
			ON TB_CLIENTE.CD_CLIENTE = TB_ATIVO_CLIENTE.CD_CLIENTE
			LEFT JOIN TB_VENDEDOR --INNER no VB
			ON TB_CLIENTE.CD_VENDEDOR = TB_VENDEDOR.CD_VENDEDOR
			LEFT JOIN tbUsuario ON
			TB_CLIENTE.ID_USUARIO_TECNICOREGIONAL = tbUsuario.nidUsuario
			LEFT JOIN TB_GRUPO --INNER no VB
			ON TB_CLIENTE.CD_GRUPO = TB_GRUPO.CD_GRUPO
			LEFT JOIN TB_LINHA_PRODUTO --INNER no VB
			ON TB_ATIVO_FIXO.CD_LINHA_PRODUTO = TB_LINHA_PRODUTO.CD_LINHA_PRODUTO
			LEFT JOIN TB_MODELO --INNER no VB
			ON TB_MODELO.CD_MODELO = TB_ATIVO_FIXO.CD_MODELO 
			LEFT JOIN TB_MOTIVO_DEVOLUCAO 
			ON TB_ATIVO_CLIENTE.CD_MOTIVO_DEVOLUCAO = TB_MOTIVO_DEVOLUCAO.CD_MOTIVO_DEVOLUCAO
			LEFT JOIN TB_SITUACAO_ATIVO   
			ON TB_ATIVO_FIXO.CD_SITUACAO_ATIVO = TB_SITUACAO_ATIVO.CD_SITUACAO_ATIVO
			LEFT JOIN TB_STATUS_ATIVO     
			ON TB_ATIVO_FIXO.CD_STATUS_ATIVO = TB_STATUS_ATIVO.CD_STATUS_ATIVO
			LEFT JOIN (SELECT CD_CLIENTE,CD_TECNICO FROM TB_TECNICO_CLIENTE WHERE CD_ORDEM = 1) TB_TECNICO_CLIENTE    
			ON TB_CLIENTE.CD_CLIENTE = TB_TECNICO_CLIENTE.CD_CLIENTE
			LEFT JOIN TB_RAZAO_COMODATO 
			ON dbo.TB_ATIVO_CLIENTE.CD_RAZAO = TB_RAZAO_COMODATO.CD_RAZAO
		WHERE 
			(DT_DEVOLUCAO								IS NULL				OR DT_DEVOLUCAO		< '1950-01-01 00:00:00.000')
		--AND (DT_INCLUSÃO BETWEEN @p_DT_INICIAL AND @p_DT_FINAL)
		AND (DT_NOTAFISCAL								>= @p_DT_INICIAL	OR @p_DT_INICIAL	IS NULL)
		AND (DT_NOTAFISCAL								<= @p_DT_FINAL		OR @p_DT_FINAL		IS NULL)
		AND	(TB_CLIENTE.CD_CLIENTE IN (SELECT cdsString FROM dbo.fncGetValuesByString(@p_CD_CLIENTE, ',')) OR @p_CD_CLIENTE IS NULL)
		AND (TB_VENDEDOR.CD_VENDEDOR					= @p_CD_VENDEDOR	OR @p_CD_VENDEDOR	IS NULL)
		AND (TB_VENDEDOR.FL_ATIVO = 'S')
		AND (TB_GRUPO.CD_GRUPO							= @p_CD_GRUPO		OR @p_CD_GRUPO		IS NULL)
		AND (TB_TECNICO_CLIENTE.CD_TECNICO							= @p_CD_TECNICO		OR @p_CD_TECNICO		IS NULL)
		AND (TB_LINHA_PRODUTO.CD_LINHA_PRODUTO							= @p_CD_LINHA_PRODUTO		OR @p_CD_LINHA_PRODUTO		IS NULL)
		AND (TB_ATIVO_FIXO.FL_STATUS = 1)
		AND (TB_ATIVO_CLIENTE.CD_MOTIVO_DEVOLUCAO IS NULL)




		IF @p_SITUACAO_MANUT = 1 --(Manutenção Vencida)
			SELECT * FROM #T_REL_INVENTARIO_TODOS 
			WHERE (DATEADD(HH,-3,GETUTCDATE()) >= DT_ULT_MANUTENCAO + @QtdDiasParaManutVencida)
				OR DT_ULT_MANUTENCAO IS NULL
		ELSE
		BEGIN
			IF @p_SITUACAO_MANUT = 2 --(Manutenção Em Dia)
				SELECT * FROM #T_REL_INVENTARIO_TODOS 
				WHERE (DATEADD(HH,-3,GETUTCDATE()) < DT_ULT_MANUTENCAO + @QtdDiasParaManutVencida)
						
			ELSE --Todos
				SELECT * FROM #T_REL_INVENTARIO_TODOS
		END
		
		
	END TRY

	BEGIN CATCH

		SELECT	@cdsErrorMessage	= ERROR_MESSAGE(),
				@nidErrorSeverity	= ERROR_SEVERITY(),
				@nidErrorState		= ERROR_STATE();

		-- Use RAISERROR inside the CATCH block to return error
		-- information about the original error that caused
		-- execution to jump to the CATCH block.
		RAISERROR (@cdsErrorMessage, -- Message text.
				   @nidErrorSeverity, -- Severity.
				   @nidErrorState -- State.
				   )

	END CATCH

END

--drop table #T_OS_ULT_MANUT
--drop table #T_REL_INVENTARIO_TODOS
