
@{
    ViewBag.Title = "Home";
}

<h2>Acesso Negado!</h2>

<p>
    <h5>Lamento, mas você não possui permissão para acesso a está funcionalidade.</h5>
</p>
<p>
    Caso necessite deste acesso, contate o Administrador do sistema e solicite o cadastramento do acesso desejado ao perfil&nbsp;<strong>@ViewBag.cdsPerfil</strong>
</p>
