@model IEnumerable<_3M.Comodato.Front.Models.Mensagem>

@using GridMvc.Html

<div class="table table-hover">
    @Html.Grid(Model).Columns(columns =>
{
    //columns.Add(foo => foo.DT_OCORRENCIA).Titled("DATA/HORA").Sortable(false).Filterable(false);
    //columns.Add(foo => foo.usuario.cnmNome).Titled("USUÁRIO").Sortable(false).Filterable(false);
    columns.Add(foo => foo.DS_MENSAGEM).Titled("HISTÓRICO DE OBSERVAÇÕES").Sortable(false).Filterable(false);
})
</div>

