
<!-- Modal -->
<div class="modal fade" id="PedidoEspecial" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Tipo de Pedido</h5>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="control-label">Informe o Tipo de Pedido</label>
                            <select class="form-control col-12" id="tipoPedidoselect">
                                <option value="" selected>
                                    Selecione...
                                </option>
                                <option value="N">
                                    Normal
                                </option>
                                <option value="E">
                                    Especial
                                </option>
                            </select>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSalvarTipoPedido">Salvar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>