@model IEnumerable<_3M.Comodato.Front.Models.ListaTecnicoXClienteEscala>

@using GridMvc.Html

<div class="table table-hover">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.CD_ORDEM).Titled("POSIÇÃO DE ESCALA").Sortable(false).Filterable(false);
    columns.Add(foo => foo.tecnico.NM_TECNICO).Titled("TÉCNICO").Sortable(false).Filterable(false);
    columns.Add(foo => foo.empresa.NM_Empresa).Titled("EMPRESA").Sortable(false).Filterable(false);
    columns.Add(foo => foo.nvlCargaTecnica).Titled("CARGA TÉCNICA").Sortable(false).Filterable(false);
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => "<a href='#' onclick='ExcluirConfirmar(" + o.CD_ORDEM + ")' class='fas fa-trash-alt fa-lg'> </a>");
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => o.CD_ORDEM == 1 ? " " : "<a href='#' onclick='Subir(" + o.CD_ORDEM + ")' class='fas fa-angle-up fa-lg' data-toggle='tooltip' data-placement='top' title='Subir'> </a>");
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => o.CD_ORDEM == Model.Count() ? " " : "<a href='#' onclick='Descer(" + o.CD_ORDEM + ")' class='fas fa-angle-down fa-lg' data-toggle='tooltip' data-placement='top' title='Descer'> </a>");
    //columns.Add()
    //    .Encoded(false)
    //    .Sanitized(false)
    //    .SetWidth(30)
    //    .RenderValueAs(o => Html.ActionLink(" ", "Editar", new { idKey = HttpUtility.HtmlDecode(o.idKey) }, new { @class = "fas fa-pencil-alt fa-lg" }));
})
</div>
