@model _3M.Comodato.Front.Models.Dashboard

<div id="boxPeriodo" class="card text-black bg-success rounded-0">
    <div class="card-header py-1 px-1" style="font-size: 8pt">
        <label id="PeriodosTitulo" class="m-0" ></label>
    </div>
    <div class="card-body pt-2 pb-1 px-1" style="min-height: 60px">
        <h2 class="card-title text-center">
            <label id="Periodos" class="m-0" ></label>
        </h2>
    </div>
    <div class="card-footer py-1 px-1" style="font-size: 8pt">
        <div id="PERCENTUAL_GRAFICO_REALIZADO" class="bg-primary" style="width: 1%; height: 15px; float: left">
            <label id="PERCENTUAL_GRAFICO_REALIZADO_label" class="m-0 p-0 text-center" style="width: 100%"></label>
        </div>
        <div id="PERCENTUAL_GRAFICO_GAP" class="bg-warning" style="width: 1%; height: 15px; float: left">
            <label id="PERCENTUAL_GRAFICO_GAP_label" class="m-0 p-0 text-center" style="width: 100%"></label>
        </div>
        <div id="PERCENTUAL_GRAFICO_RESTANTE" class="bg-secondary" style="width: 1%; height: 15px; float: left">
            <label id="PERCENTUAL_GRAFICO_RESTANTE_label" class="m-0 p-0 text-center" style="width: 100%"></label>
        </div>
    </div>
</div>

