@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black rounded-0 mb-0">
    <div class="card-header py-1 px-1" style="font-size: 9pt">Equipamentos</div>
    <div class="card-body py-1 px-1" style="min-height: 400px">
        <div class="form-row">
            <div class="form-group col-12 mb-0">
                @*<div class="pre-scrollable" style="max-height: 350px">*@
                <div id="gridMVCEquipamento">
                </div>
                @*</div>*@
            </div>
        </div>

        @*<div class="form-row">
            <div class="form-group col-6 mb-0 mt-2">
                <label class="col-12 mb-0">Depreciação:</label>
            </div>
            <div class="form-group col-6 mb-0 mt-2">
                <label id="DEPRECIACAO" class="col-12 mb-0"></label>
            </div>
        </div>*@

        <div class="form-row">
            <div class="form-group col-6 mb-0">
                <label class="col-12 mb-0">Manutenção Hs:</label>
            </div>
            <div class="form-group col-6 mb-0">
                <label id="ManutHs" class="col-12 mb-0"></label>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-6 mb-0">
                <label class="col-12 mb-0">Manutenção Pç:</label>
            </div>
            <div class="form-group col-6 mb-0">
                <label id="ManutPc" class="col-12 mb-0"></label>
            </div>
        </div>

    </div>
</div>

