@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black rounded-0 mb-0">
    <div class="card-header py-1 px-1" style="font-size: 9pt">Linha de Produto</div>

    <div class="card-body py-1 px-1" style="min-height: 400px">
        @*<div class="row text-primary" style="font-size: 9pt">
            <label class="col-sm-8 mb-0">Depreciação 12 meses:</label>
            <div class="col-sm-4 mb-0">
                <div class="font-weight-bold">
                    <label id="Depreciacao12Meses" ></label>
                </div>
            </div>
        </div>
        <div class="row text-primary" style="font-size: 9pt">
            <label class="col-sm-8 mb-0">Custo manuteção:</label>
            <div class="col-sm-4 mb-0">
                <div class="font-weight-bold">
                    <label id="CustoManutencao" ></label>
                </div>
            </div>
        </div>*@
        <div class="row" style="font-size: 9pt">
            <label class="col-sm-8 mb-0">Clientes atendidos:</label>
            <div class="col-sm-4 mb-0">
                <div class="font-weight-bold">
                    <label id="ClientesAtendidos" ></label>
                </div>
            </div>
        </div>
        <div class="row" style="font-size: 9pt">
            <label class="col-sm-8 mb-0">Investimento:</label>
            <div class="col-sm-4 mb-0">
                <div class="font-weight-bold">
                    <label id="Investimento" ></label>
                </div>
            </div>
        </div>
        <br />
        <div class="card text-black rounded-0">
            <div class="card-header py-1 px-1" style="font-size: 9pt">Total de ativos</div>
            <div class="card-body py-1 px-1">
                <canvas id="chartTotalAtivo" height="150"></canvas>
            </div>
        </div>
    </div>
</div>


