@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black rounded-0 mb-0">
    <div class="card-body py-1 px-1" style="min-height: 453px">
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
    </div>
</div>

