@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black rounded-0">
    <div class="card-header py-1 px-1" style="font-size: 9pt">Atendimentos</div>
    <div class="card-body py-1 px-1">
        @*<canvas id="chartAtendimento" height="150"></canvas>*@
        <canvas id="chartAtendimento" height="219"></canvas>
    </div>
</div>



