@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black bg-primary rounded-0">
    <div class="card-header py-1 px-1" style="font-size: 8pt">Fechadores</div>
    <div class="card-body pt-2 pb-0 px-1" style="min-height: 61px">
        <h2 class="card-title mb-0 text-center">
            <label id="Fechadores" ></label>
        </h2>
    </div>
    <div class="card-footer py-1 px-1" style="font-size: 8pt">Ativos</div>
</div>


