@model _3M.Comodato.Front.Models.Dashboard

<div  id="boxPeriodo_WF" class="card text-black bg-warning rounded-0">
    <div class="card-header py-1 px-1" style="font-size: 8pt">Proj. Envio Equip.</div>
    <div class="card-body pt-2 pb-0 px-1" style="min-height: 61px">
        <h2 class="card-title mb-0 text-center">
            <label id="ProjEnvioEquip" ></label>
        </h2>
    </div>
    <div class="card-footer py-1 px-1" style="font-size: 8pt">
        <div id="PERCENTUAL_GRAFICO_REALIZADO_WF" class="bg-primary" style="width: 1%; height: 15px; float: left">
            <label id="PERCENTUAL_GRAFICO_REALIZADO_WF_label" class="m-0 p-0 text-center" style="width: 100%"></label>
        </div>
        <div id="PERCENTUAL_GRAFICO_GAP_WF" class="bg-warning" style="width: 1%; height: 15px; float: left">
            <label id="PERCENTUAL_GRAFICO_GAP_WF_label" class="m-0 p-0 text-center" style="width: 100%"></label>
        </div>
        <div id="PERCENTUAL_GRAFICO_RESTANTE_WF" class="bg-secondary" style="width: 1%; height: 15px; float: left">
            <label id="PERCENTUAL_GRAFICO_RESTANTE_WF_label" class="m-0 p-0 text-center" style="width: 100%"></label>
        </div>
    </div>
</div>
