@model _3M.Comodato.Front.Models.Dashboard

<div class="card text-black bg-primary rounded-0">
    <div class="card-header py-1 px-1" style="font-size: 8pt">Distribuição KAT</div>
    <div class="card-body pt-2 pb-1 px-1" style="min-height: 85px;">
        <h6 class="card-title font-weight-bold text-center">
            <label id="DistribuicaoKAT_A" class="m-0"></label><br />
            <label id="DistribuicaoKAT_B" class="m-0"></label><br />
            <label id="DistribuicaoKAT_C" class="m-0"></label>
        </h6>
    </div>
</div>



