@model IEnumerable<_3M.Comodato.Front.Models.LinhaProduto>

@using GridMvc.Html

@{
    ViewBag.Title = "Linha de Produto";
}

<i class="fas fa-cubes fa-3x fa-pull-left"></i>
<h3>Linha de Produto</h3>

<p>
    <a class="btn btn-primary btn-sm" href="LinhaProduto/Incluir">Novo registro <i class="far fa-sticky-note"></i></a>
</p>

<div class="table table-hover">
    @Html.Grid(Model).Columns(columns =>
            {
                columns.Add(foo => foo.DS_LINHA_PRODUTO).Titled("DESCRIÇÃO").Sortable(true).Filterable(true);
                columns.Add(foo => foo.VL_EXPECTATIVA_PADRAO).Titled("EXPECTATIVA PADRÃO").Sortable(true).Filterable(true);
                columns.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(30)
                                .RenderValueAs(o => Html.ActionLink(" ", "Editar", new { idKey = HttpUtility.HtmlDecode(o.idKey) }, new { @class = "fas fa-pencil-alt fa-lg" }));
                columns.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(30)
                                .RenderValueAs(o => Html.ActionLink(" ", "Excluir", new { idKey = HttpUtility.HtmlDecode(o.idKey) }, new { @class = "fas fa-trash-alt fa-lg" }));
            }).WithPaging(10)
</div>