GO
/****** Object:  StoredProcedure [dbo].[prcRptAtivosClientesDISelect]    Script Date: 16/08/2022 08:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[prcRptAtivosClientesDISelect]
AS
	SELECT TB_CLIENTE.NM_CLIENTE,
			UPPER(tbSegmento.ds_segmento) ds_segmento,
			UPPER(TB_MODELO.DS_MODELO) DS_MODELO,
			ISNULL(TB_ATIVO_CLIENTE.QTD_MESES_LOCACAO,0) QTD_MESES_LOCACAO_PRV,
		
			DATEDIFF(MONTH, 
				ISNULL(CASE WHEN TB_ATIVO_CLIENTE.DT_NOTAFISCAL = '1900-01-01' THEN NULL ELSE TB_ATIVO_CLIENTE.DT_NOTAFISCAL END, TB_ATIVO_CLIENTE.DT_DEVOLUCAO), 
				ISNULL(CASE WHEN TB_ATIVO_CLIENTE.DT_DEVOLUCAO  = '1900-01-01' THEN NULL ELSE TB_ATIVO_CLIENTE.DT_DEVOLUCAO END,GETDATE())
			) QTD_MESES_LOCACAO_ALC

			,ISNULL(TB_ATIVO_CLIENTE.VL_ALUGUEL,0) VL_ALUGUEL
			,CASE WHEN TB_ATIVO_CLIENTE.DT_DEVOLUCAO IS NULL THEN 'ATIVO' ELSE 'DEVOLVIDO' END STATUS
			,ISNULL(TB_DEPRECIACAO.VL_CUSTO_ATIVO,0) VL_ATIVO
			,Pg.NR_NotaFiscal NR_NOTA
			,Fat.AluguelApos3anos VL_NOTA
	FROM TB_ATIVO_CLIENTE(nolock)
	
	INNER JOIN TB_ATIVO_FIXO(nolock)
		ON TB_ATIVO_FIXO.CD_ATIVO_FIXO = TB_ATIVO_CLIENTE.CD_ATIVO_FIXO

	LEFT JOIN TB_DadosFaturamento Fat(nolock)
		ON Fat.ID_ATIVO_CLIENTE = TB_ATIVO_CLIENTE.ID_ATIVO_CLIENTE
		AND Fat.SituacaoBpcs = 'F' AND Fat.Ativo = 1

	LEFT JOIN TB_DadosPagamento Pg (nolock)
		ON Pg.ID_DADOS_FATURAMENTO = Fat.ID
		AND Pg.SituacaoBpcs = 'F'

	LEFT JOIN TB_DEPRECIACAO (NOLOCK)
			ON TB_ATIVO_FIXO.CD_ATIVO_FIXO = TB_DEPRECIACAO.CD_ATIVO_FIXO

	INNER JOIN TB_MODELO (nolock) 
		ON TB_MODELO.CD_MODELO = TB_ATIVO_FIXO.CD_MODELO
	INNER JOIN TB_CLIENTE(nolock)
		ON TB_CLIENTE.CD_CLIENTE = TB_ATIVO_CLIENTE.CD_CLIENTE
	INNER JOIN tbSegmento (nolock)
		on TB_CLIENTE.ID_SEGMENTO = tbSegmento.id_segmento
		and tbSegmento.ds_segmentomin = (select cvlParametro from tbParametro where ccdParametro='SegmentoDistribuidor')

	
	GROUP BY 
		TB_CLIENTE.NM_CLIENTE,
		tbSegmento.ds_segmento,
		TB_MODELO.DS_MODELO,
		TB_ATIVO_CLIENTE.QTD_MESES_LOCACAO,
		TB_ATIVO_CLIENTE.DT_NOTAFISCAL,
		TB_ATIVO_CLIENTE.DT_DEVOLUCAO ,
		TB_ATIVO_CLIENTE.VL_ALUGUEL,
		TB_DEPRECIACAO.VL_CUSTO_ATIVO
		,Pg.NR_NotaFiscal
		,Fat.AluguelApos3anos
	ORDER BY TB_CLIENTE.NM_CLIENTE, TB_ATIVO_CLIENTE.DT_NOTAFISCAL
